*{
	padding: 5px;
}
#canvas{
	margin-top: 6%;
	/* background-color: #4D4741; */
}

#alert{
	display:none;
    border: 1px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    top: 330px;
    position: fixed;
	margin-left: 400px;
    z-index: 15;
	justify-content: center;
	align-items: center;
}

.form-1{
	margin-top: 40px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.txt-white{
	color:white;
	font-size: 30px;
}

.space{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.contenct{
	display: flex;
	width: 100%;
}

.child-1{
	width: 80%;
	text-align: center;
}